/* 通用的CSS */
a:hover, a:focus {
	text-decoration: none;
}

.wrapper {
	color: #1ABC9C;
	margin: 0 auto;
	max-width: 1170px;
	min-width: 960px;
}
.btn-primary {
	background-color: #1ABC9C !important;
}
.navbar-inverse {
	background-color: #1ABC9C !important;
}
/* 顶部的工具栏 */
#toolbar {
	height: 35px;
	line-height: 30px;
	font-family: fantasy;
	font-size: 10px;
	color: #1ABC9C;
	background-color: #1ABC9C;
}

/*工具栏里的a标签*/
#toolbar a {
	border-right: 1px solid #e5e5e5;
	padding: 0 15px;
	color: #FF9933;
	text-decoration: none;
}

/*顶部的主题部分 */
#subject {
	min-height: 100px;
}

#logo {
	width: 100px;
	padding: 25px 0;
}

#search {
	padding: 35px 0 20px 0;
}

#cart {
	padding: 30px 0 20px 0;
	text-align: right;
}

/*导航栏*/
#navbar {
	background-color: #1ABC9C;
	margin-bottom: 13px;
}

.categories {
	max-width: 200px;
	background-color: #1ABC9C;
	margin-right: 40px;
	float: left;
	position: relative;
}

/*所有分类标题*/
#title {
	color: #ffffff;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	letter-spacing: 4px;
}
/*分类列表菜单*/
#menu {
	width: 200px;
	background-color: #1ABC9C;
	position: absolute;
	left: 0;
	top: 41px;
	z-index: 100;
}

#menu>ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

#menu>ul>li {
	background-color: #1ABC9C;
	margin: 0;
	color: #fff;
	border-left: 2px solid #1ABC9C;
	border-bottom: 1px solid #1ABC9C;
}

#menu>ul>li>a {
	width: 100%;
	padding: 10px;
	display: block;
	color: #fff;
}

#menu>ul>li:hover {
	background-color: #fff;
}

#menu>ul>li:hover>a {
	color: #dd4142;
}

.director {
	float: right;
	font-size: 18px;
}

/*子分类*/
.sub-list {
	position: absolute;
	top: 0;
	left: 200px;
	width: 120px;
	height: 294px;
	border-right: 1px solid #1ABC9C;
	border-bottom: 1px solid #1ABC9C;
	padding: 5px 10px;
	display: none;
	background-color: #fff;
}

.sub-list>li {
	display: block;
	height: 38px;
	line-height: 38px;
	text-decoration: none;
	text-align: center;
	border-bottom: 1px solid #e8e8e8;
}

.sub-list>li>a {
	color: #555;
}

/*导航项*/
.navbar-nav li a {
	padding-left: 30px;
	padding-right: 30px;
}

/*轮播图*/
#myNiceCarousel {
	margin-left: 200px;
}

.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #1ABC9C;
}

/*新闻*/
#news ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#news ul li {
	height: 30px;
	line-height: 30px;
}

#news ul li a {
	color: #666;
}

#news ul li a:hover {
	text-decoration: underline;
	color: #1ABC9C;
}

#news ul li a.hot {
	color: #1ABC9C;
}

/**商品列表*/
.list {
	padding: 0;
	margin-top: 8px;
	margin-bottom: 24px;
}

.cards-condensed .card:hover {
	border: 1px solid #1ABC9C;
}

/*页面底部*/
#footer {
	border: none;
	padding: 0;
	background: #353535;
	color: #aaa;
	height: 90px;
	line-height: 90px;
}

/*右侧固定定位的浮动栏*/
.slidebar {
	position: fixed;
	right: 0px;
	top: 300px;
	background-color: #ffffff;
	z-index: 9999;
}

/*滚动到顶部组件的样式*/
#scrollUp {
	background-image: url("../images/r_top.png");
	width: 49px;
	height: 50px;
	background-color: #ccc;
	position: fixed;
	top: 450px;
	right: 0px;
}

/**广告*/
#ad {
	width: 80px;
	height: 160px;
	background-color: #1ABC9C;
	position: fixed;
	top: 300px;
	left: 20px;
}

/****公告详情页*************/
/**/
#news_detail {
	margin-top: 20px;
	min-height: 400px;
	padding: 15px 30px;
}

#news_detail .panel-heading {
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	background-color: #ffffff;
}

#news_detail .panel-heading #pubtime {
	font-size: 13px;
	margin: 10px 0 0;
	color: #999;
}

#news_detail .panel-body {
	padding: 30px 10px;
	color: #666;
}

/***************公告列表*****************/
#news_list .panel-heading {
	padding: 15px 0 10px 20px;
	font-size: 20px;
}

#news_list .table {
	font-size: 16px;
}

#news_list .table td {
	padding: 20px 30px;
}

/************商品列表页************/
.breadcrumb {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

.cards-products .col-xs-2 {
	padding-top: 15px;
	border: 1px solid #e5e5e5;
	margin: 5px;
	width: 19%;
}

.cards-products .col-xs-2:hover {
	border: 1px solid #1ABC9C;
}

/***********商品详情页************/
.product-image {
	height: 300px;
	line-height: 300px;
	border: 1px solid #ddd;
	text-align: center;
}

.product-property .attr-name, .product-property .attr-value {
	padding: 8px 6px;
	display: table-cell;
	vertical-align: middle;
}

.product-property .attr-name {
	width: 80px;
	padding-right: 15px;
	text-align: right;
}

#product-hot .card {
	padding-bottom: 20px;
	border-bottom: 1px dashed #e5e5e5;
}

#product-hot .card:last-child {
	border-bottom: none;
}

/********购物车********/
.table td {
	vertical-align: middle;
}

/****会员后台 订单列表*********/
#mymenu .icon-chevron-right {
	float: right;
	margin-top: 3px;
	opacity: .75;
}

.panel-actions {
	float: right;
	margin-top: -6px;
	margin-right: -10px;
}